.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  margin-top: 1em;
  height: 10em;
  background-repeat: round;
  width: 20em;
  margin-left: auto;
  margin-right: auto;
  /* font-family: "Berkshire Swash", cursive; */
  font-family: "Cinzel Decorative", cursive;
  /* font-family: "Tangerine", cursive; */
  padding-top: 0.7em;
  margin-bottom: 2em;
  background-image: url(http://clipart-library.com/images_k/open-book-transparent-background/open-book-transparent-background-7.png);
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: pink;
  /* height: 50em; */
  position: absolute;
  top: 11em;
}
.menu {
  display: flex;
  justify-content: flex-end;
  margin: 1.5em;
  width: 85%;
  justify-content: space-between;
}

.menu-btn {
  font-size: 1.7em;
  border: none;
  background: white;
  margin-left: auto;
}

.close-btn {
  font-size: 1.7em;
  border: none;
  background: white;
}

.close-btn:hover,
.menu-btn:hover {
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  background-image: linear-gradient(40deg, #f3e153, #f1d291);
  border: 3px solid #a23f08;
}

.btn {
  margin: 1.5em 2.5em 1.5em 1.5em;
  display: flex;
  align-self: flex-end;
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  font-size: 1.5em;
}

.nav-item {
  margin-bottom: 1em;
  text-decoration: none;
  border-bottom: 2px solid black;
  padding: 0.5em;
  width: 8em;
  color: black;
}

.nav-item:hover {
  font-size: 1.2em;
  font-weight: bold;
}

.nav-item,
.nav-item:visited {
  margin: 0.2em;
  padding: 0.4em;
  font-size: 1.1em;
  color: blue;
}

.nav-item:hover {
  cursor: pointer;
  font-weight: bold;
  color: green;
  text-transform: uppercase;
}

.nav-item:active {
  color: gold;
}

.info {
  margin: 1em;
  padding: 0.5em;
}

.quote-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  margin-top: 1em;
}

/* .menu-btn {
  font-size: 1.3em;
  margin-left: 0.2em;
  padding: 0.4em;
  border: none;
  cursor: pointer;
} */

/* .menu-btn:hover {
  background-image: linear-gradient(40deg, #f3e153, #f1d291);
  border: 3px solid #a23f08;
  border-radius: 30px;
} */

.generate {
  padding: 0.7em;
  font-size: 1.1em;
  border: none;
  margin-top: 1em;
  background-image: linear-gradient(40deg, #f3e153, #f1d291);
  border: 3px solid #a23f08;
  border-radius: 30px;
}

.verses {
  margin: 1em;
  height: 25em;
  padding: 0.5em;
}

.verses h3 {
  background-image: linear-gradient(40deg, #f3e153, #f1d291);
  border: 3px solid #a23f08;
  border-radius: 30px;
  width: 15em;
  padding: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

.btn-close {
  position: absolute;
  right: 0em;
  height: 2em;
  width: 2em;
  opacity: 0;
  cursor: pointer;
}
