.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  margin-top: 1em;
  height: 10em;
  background-repeat: round;
  width: 20em;
  margin-left: auto;
  margin-right: auto;
  /* font-family: "Berkshire Swash", cursive; */
  font-family: "Cinzel Decorative", cursive;
  /* font-family: "Tangerine", cursive; */
  padding-top: 0.7em;
  margin-bottom: 2em;
  background-image: url(http://clipart-library.com/images_k/open-book-transparent-background/open-book-transparent-background-7.png);
}

.offcanvas {
  width: 90%;
  background: lightgray;
  position: fixed;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  opacity: 0.8;
  top: 1em;
}

.offcanvas:hover {
  opacity: 1;
}

.offcanvas-header {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 0.5em 0.5em 1.5em;
  font-size: 1.2em;
  text-transform: uppercase;
}

.offcanvas-body {
  justify-content: space-evenly;
  margin: 0.3em;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 10em 10em;
}

.nav-item,
.nav-item:visited {
  margin: 0.2em;
  padding: 0.4em;
  font-size: 1.1em;
  color: blue;
}

.nav-item:hover {
  cursor: pointer;
  font-weight: bold;
  color: green;
  text-transform: uppercase;
}

.nav-item:active {
  color: gold;
}

.info {
  margin: 1em;
  padding: 0.5em;
}

.quote-area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  margin-top: 1em;
}

.menu-btn {
  font-size: 1.3em;
  margin-left: 0.2em;
  padding: 0.4em;
  border: none;
  cursor: pointer;
}

.generate {
  padding: 0.7em;
  font-size: 1.1em;
  border: none;
  margin-top: 1em;
}

.verses {
  margin: 1em;
  height: 25em;
  padding: 0.5em;
}

.btn-close {
  position: absolute;
  right: 0em;
  height: 2em;
  width: 2em;
  opacity: 0;
  cursor: pointer;
}
